<form #f = "ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
        <div *ngIf="!contact.valid">
            ...
        </div>
        <div class="form-group">
            <label for="firstName">FirstName</label>
            <input 
                required  
                ngModel 
                name="firstName"  
                minlength="5" 
                maxlength="10" 
                pattern="banana" 
                id="firstName" 
                type="text" 
                class="form-control" 
                (change)="log(firstName)"
                #firstName="ngModel">    
            <div 
                class="alert alert-danger" 
                *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors?.required">
                    FirstName is required
                </div>
                <div *ngIf="firstName.errors?.minlength">
                    First name should be minimum {{ firstName.errors?.minlength.requiredLength}} characters.
                </div>
                <div *ngIf="firstName.errors?.pattern">
                    First name doesn't match the pattern.
                </div>            
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel id="comment" name="comment"  class="form-control" cols="30" rows="10"></textarea>
    </div>
    <div class="checkbox">
        <label for="">
            <input ngModel name="isSubscribed" type="checkbox"> Subscribe to mailing list
        </label>
    </div>
    <div class="form-group">
        <label for="contactMethod"></label>
        <select ngModel multiple name="contactMethod" name="" id="contactMethod" class="form-control">
            <option value=""></option>
            <option *ngFor="let method of contactMethods" [value]="method.id" >{{ method.name }}</option>
        </select>
    </div>
    <div class="radio" *ngFor="let method of contactMethods" >
        <label for="">
            <input ngModel type="radio" name="contactMethod" [value]="method.id">
            {{ method.name }}
        </label>
    </div>
 
    <p> 
        {{ f.value | json }}
    </p>
    <button class="btn btn-primary" [disabled]="!f.valid" >Submit</button>
</form>